$primary: #8AA6BF;
$secondary: #A0BF30;
$light: #F2F2F2;
$dark: #262622;
$danger: #BF4F26;


@import "../node_modules/bootstrap/scss/bootstrap";

// mixins

@mixin mobile {
    flex-direction: column;
    flex-wrap: wrap;
}

//

.hero > p {
    color: $danger;
}

.hero > hr {
    color: $secondary;
    border-width: 2px;
}

.title {
    color: $secondary;
}

.desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    
}

//media queries

@media (max-width: 768px) {
    .features {
        @include mobile;
    }
}

