$primary: #8AA6BF;
$secondary: #A0BF30;
$light: #F2F2F2;
$dark: #262622;
$danger: #BF4F26;

$headings-font-family: 'Poppins', sans-serif;
$font-family: 'Poppins', sans-serif;
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: 'Poppins', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,700&display=swap');



// mixins

@mixin mobile {
    flex-direction: column;
    flex-wrap: wrap;
}

//

.hero > p {
    color: $danger;
}

.hero > hr {
    color: $secondary;
    border-width: 2px;
}

.title {
    color: $secondary;
}

.desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    
}

//media queries

@media (max-width: 768px) {
    .features {
        @include mobile;
    }
}

